@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 @layer utilities{
  .custom-scrollbar{
    overflow-x: auto;
    scrollbar-gutter: stable;
  }
  .custom-scrollbar::-webkit-scrollbar{
    width: 30px;
    height: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: rgba(73,73,73,0.73);
    border: 1px solid transparent;
    border-radius: 20px;
  }
 }

